* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body {
   background-color: #ffe2b8;
}

li, a  {
   font-size: 35px;
   text-decoration: none;
   padding-right: 30px;
   padding-left: 10px;
   font-weight: bold;
   color: #a15e3b;
}

.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 13%;
   margin-bottom: 150px;
}

.nav-links {
   list-style: none;
}

.nav-links li {
   display: inline-block;
}

.nav-links li a {
   transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
   color: #64342c;
   font-size: 37px;
}

/* biografia */

.bio {
   margin-top: 80px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 150px;

}

.bio img {
   width: 500px;
   height: auto;
   border-radius: 25px;
   box-shadow: 2px 3px 6px black;
}

.bio h2 {
   text-align: center;
   padding-bottom: 30px;
   padding-top: 20px;
   font-size: 44px;
   color: #64342c;
}

.text {
   display: block;
   width: 500px;
   padding-left: 40px;
   font-size: 25px;
   text-align: justify;
   color: #64342c;
}

/* músicas */

#music-title {
   text-align: center;
   font-size: 44px;
   color: #64342c;
   margin-top: 80px;
   background-color: #d68d65;
   padding-top: 95px;
}

.music {
   padding-top: 100px;
   text-align: center;
   background-color: #d68d65;
   padding-bottom: 200px;
}

#caixa {
   box-shadow: 3px 2px 12px #64342c;
}

/* Imagens */

.imageBoxPai {
   display: flex;
   justify-content: center;
}

.imageBox {
   margin-top: 200px;
   display: block;
   margin-bottom: 200px;
}

.images {
   width: 950px;
   height: 534px;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.75);
}

.slides .slide img {
   width: 100%;
   height: 100%;
}

.navigation {
   display: flex;
   margin-left: 350px;
   padding-top: 10px
}

.labels {
   width: 15px;
   height: 15px;
   border: 3px solid #64342c;
   margin: 6px;
   border-radius: 2px;
   cursor: pointer;
   transition: .4s ease;
}

.labels:hover {
   background-color: #64342c;
}

input {
   display: none;
}

